<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oliiyu.userservice.mapper.SysUserMapper">
    <select id="getAllSysUser" resultType="com.oliiyu.userservice.repository.entity.SysUserEntity">
      select id, user_code, user_name, password, salt, is_locked, gmt_create, gmt_modified
      from sys_user
    </select>

    <select id="findBySysUsername" resultType="com.oliiyu.userservice.repository.entity.SysUserEntity">
      select id, user_code, user_name, password, salt, is_locked, gmt_create, gmt_modified
      from sys_user
      where user_name = '1'
    </select>

</mapper>